body { 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

a{
  border:none;
}

#background{
  background-color:rgba(255,255,255,0.8);
}

.websiteImage{
  max-width: 100px;
  max-height: 100px;
}

strong{
  float: left;
  clear: left;
}

#imageInput{
  max-width: 100%;
  max-height: 100%;
}

#brief{
  overflow:hidden;
}

#imageDiv{
  height: 225px;
  float:left;
  background:rgba(255, 0, 0, 0.2);
}

#imageInput{
  margin: auto;
  display: block;
}

#keywordsDiv{
  height: 225px;
  float:left;
  background:rgba(255, 0, 0, 0.4);
}

#keywords{
  font-size: 20px;
}

#keywords .list{
  margin-bottom: 10px;
  background: rgba(255,255,255,0.4);
}

#moreResultsDiv{
  float:left;
  height: 225px;
  background:rgba(255, 0, 0, 0.2);
}
#moreResultsDiv li{
  float: left;
  list-style-type:none;
  margin-right: 15px;
}

.moreResultsImages{
  width: 64px;
}

#relatedWebsitesDiv{
  overflow: auto;
  margin-top: 10px;
  background:rgba(80, 180, 0, 0.4);
}

#websitesDiv{
  overflow: auto;
  margin-top: 10px;
  background:rgba(0, 100, 200, 0.4);
}

section{
  clear:both;
  max-width: 1920px;
  margin:auto;
}

h2{
  margin-left:5%;
}

.websiteSearchIcon{
  width: 24px;
  margin-right: 10px;
}

.websiteLinkHeader{
  width:100% !important;
}

.websiteLink{
  min-height:50px;
  clear:both;
  width: 75%;
  margin-left: 7%;
  margin-bottom: 10px;
  overflow: hidden;
  background:rgba(255,255,255,0.7);
}
.websiteLink a{
  font-size: 18px;
  display:block;
  float:left;
}

.websiteLink img{
  display:block;
  float:left;
}

.websiteLink div{
  float:left;
  font-size:15px;
  width: 600px;
}

.loader {
  position: absolute;
  pointer-events: none;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin:auto;
  left: 50%;
}
.loading4{
  border-top: 24px solid red;
  width: 200px;
  height: 200px;
  margin-top: 102px;
  margin-left: -118px;
}
.loading3{
  border-right: 18px solid yellow;
  width: 150px;
  height: 150px;
  margin-top: 132px;
  margin-left: -87px;
}
.loading2{
  border-bottom: 12px solid blue;
  width: 100px;
  height: 100px;
  margin-top: 164px;
  margin-left: -56px;
}
.loading1{
  border-left: 6px solid green;
  width: 50px;
  height: 50px;
  margin-top: 195px;
  margin-left: -25px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
