.f-left{
  float:left;
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

.cap-first{
  text-transform: capitalize;
}

.blue{
  color: #2196F3;
}

.f24{
  font-size: 24px;
}

.f18{
  font-size: 18px;
}

.f14{
  font-size: 14px;
}

.firstSub{
  margin-left: 30px;
}

.switch20 {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch14 {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 14px;
}

.switch20 input {display:none;}

.switch14 input {display:none;}

.slider20 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider20:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

.slider20 > .sub {
  background-color: #ff00ff;
}

.slider14 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider14:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

.sub{
  display: none;
}

input:checked + .slider20 {
  background-color: #2196F3;
}

input:focus + .slider20 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider20:before {
  transform: translateX(16px);
}

.slider20.round {
  border-radius: 20px;
}

.slider20.round:before {
  border-radius: 50%;
}

input:checked + .slider14 {
  background-color: #2196F3;
}

input:focus + .slider14 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider14:before {
  transform: translateX(10px);
}

.slider14.round {
  border-radius: 10px;
}

.slider14.round:before {
  border-radius: 50%;
}

.loader {
  position: absolute;
  pointer-events: none;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin:auto;
  left: 50%;
}
.loading4{
  border-top: 24px solid red;
  width: 200px;
  height: 200px;
  margin-top: 102px;
  margin-left: -118px;
}
.loading3{
  border-right: 18px solid yellow;
  width: 150px;
  height: 150px;
  margin-top: 132px;
  margin-left: -87px;
}
.loading2{
  border-bottom: 12px solid blue;
  width: 100px;
  height: 100px;
  margin-top: 164px;
  margin-left: -56px;
}
.loading1{
  border-left: 6px solid green;
  width: 50px;
  height: 50px;
  margin-top: 195px;
  margin-left: -25px;
}
