//Override materializecss
@nav-height: 38px;
@nav-height-1: @nav-height - 2;
@nb-color-1: #7a88e8;
@nb-color-2: #d8b2ff;
@nb-color-wtf: #3a56ff;
@nb-color-soso: #56109d;
@nb-color-bad: #1d0336;

.header{
  color: @nb-color-1;
}

body{
  width: 400px;
}

nav{
  background-color: @nb-color-1;
  line-height: 36px;
  height: 36px;
  ul{
    a{
      padding: 0 26.5px;
    }
  }
}

.line{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.tab-1{
  margin-left: 38px;
}

h4{
  margin-top: 0px;
}


#history{
  img{
    max-height: 80px;
    max-width: 120px;
  }
  .section{
    padding-bottom: 0px;
  }
}

#overview{
  #icons{
    img{
      width: 40px;
      margin-right:4px;
    }
  }
  #imageUpload,#uploadedImage{
    display:none;
  }
  #imageUploadLabel{
    color: white;
  }
}

#options{
  p{
    margin:0px;
  }
}

.btn{
  padding: 0 1rem;
  height: 26px;
  line-height: 26px;
  *{
    cursor: pointer;
  }
}

.important{
  color: @nb-color-1;
  font-size: 1rem;
}
